<h3 class='mb_1em color_black'>Post #<%= post.id %> <%= post.title %></h3>
<p class='color_black'><%= post.text %></p>
<span class='color_black as_flex_end'>Comments: <%= post.comments_count %>, Likes: <%= post.likes_count %></span>

